<h1 class="mb-5"><%= t("sign_in_title") %></h1>
<%= simple_form_for :user, url: sign_in_path, html: { autocomplete: "off", local: true, data: { turbo: false } } do |form| %>
  <%= form.input :email,
             required: true,
             input_html: {
               class: "form-control mb-3",
               placeholder: t("placeholders.user.email")
             } %>
  <%= form.input :password,
             required: true,
             input_html: {
               class: "form-control mb-3",
               placeholder: t("placeholders.user.password")
             } %>
  <%= form.button :submit, t("helpers.sign_in"), class: "btn btn-primary mt-3" %>
<% end %>
