<h1 class="mb-5">Acesse sua conta</h1>
<%= form_with local: true, data: { turbo: false }, url: sign_in_path do |form| %>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, class: "form-control", placeholder: "steve@sinaxys.com" %>
  </div>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Entrar", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
